@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Red Hat Mono';
  src: url('/fonts/RedHatMono-VariableFont_wght.ttf'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-weight: 300 700;
}

@layer base {
  html {
    font-family: Red Hat Mono, system-ui, mono;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header h1 {
  padding-right: 0.75rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

header ul {
  margin-bottom: 1rem;
  padding-left: 0.25rem;
  border-left: thin solid rgba(229, 231, 235, 0.4);
}

h2 {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border-left: 5px solid var(--drac-purple-400);
  color: var(--drac-purple-300);
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 550;
}

h3 {
  font-size: 1.25rem;
  color: var(--drac-purple-200);
}

hr {
  margin-bottom: 2rem;
  background: linear-gradient(
    45deg,
    var(--drac-purple-400),
    var(--drac-pink-400)
  );
  height: 0.25rem;
  border: 0;
}

summary {
  font-size: 1.25rem;
  color: var(--drac-purple-300);
  margin-bottom: 1rem;
}

header li {
  list-style: none;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 0 0 0.25rem;
}

li {
  list-style: circle;
  list-style-position: outside;
  margin-left: 1.15rem;
  margin-bottom: 0.5rem;
  max-width: 45em;
}

ul {
  margin-bottom: 2rem;
}

.paper {
  max-width: 80rem;
}

.workheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 45em;
}

.wherewhen {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin-bottom: 1rem;
}

.resume-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resume-work {
  background-color: none;
}

.resume-other {
  border-left: thin solid rgba(229, 231, 235, 0.4);
  padding-left: 1.25rem;
  margin-left: 1rem;
  max-width: 25em;
}

@media (max-width: 80rem) {
  .paper {
    max-width: 42rem;
  }

  .resume-other {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    max-width: 45em;
  }
}

.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
  --background: #282a36;
  --current-line: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --drac-background-50: #c0c2d0;
  --drac-background-100: #b4b7c8;
  --drac-background-200: #9da0b6;
  --drac-background-300: #858aa5;
  --drac-background-400: #6e7393;
  --drac-background-500: #5c617c;
  --drac-background-600: #4b4e65;
  --drac-background-700: #393c4d;
  --drac-background-800: #282a36;
  --drac-background-900: #101116;
  --drac-currentLine-50: #cecfda;
  --drac-currentLine-100: #c2c4d1;
  --drac-currentLine-200: #abaebf;
  --drac-currentLine-300: #9397ae;
  --drac-currentLine-400: #7c819c;
  --drac-currentLine-500: #676c88;
  --drac-currentLine-600: #565971;
  --drac-currentLine-700: #44475a;
  --drac-currentLine-800: #2c2e3a;
  --drac-currentLine-900: #14151a;
  --drac-foreground-50: #ffffff;
  --drac-foreground-100: #f8f8f2;
  --drac-foreground-200: #e4e4ce;
  --drac-foreground-300: #d1d1a9;
  --drac-foreground-400: #bdbd85;
  --drac-foreground-500: #a9a960;
  --drac-foreground-600: #888849;
  --drac-foreground-700: #646436;
  --drac-foreground-800: #3f3f22;
  --drac-foreground-900: #1b1b0e;
  --drac-comment-50: #d6dae7;
  --drac-comment-100: #c9cfe0;
  --drac-comment-200: #afb8d1;
  --drac-comment-300: #96a0c2;
  --drac-comment-400: #7c89b3;
  --drac-comment-500: #6272a4;
  --drac-comment-600: #4c5982;
  --drac-comment-700: #37415f;
  --drac-comment-800: #22283b;
  --drac-comment-900: #0e1018;
  --drac-cyan-50: #effcff;
  --drac-cyan-100: #dbf8fe;
  --drac-cyan-200: #b3f1fe;
  --drac-cyan-300: #8be9fd;
  --drac-cyan-400: #54dffc;
  --drac-cyan-500: #1dd4fb;
  --drac-cyan-600: #04b6dc;
  --drac-cyan-700: #0388a5;
  --drac-cyan-800: #025b6e;
  --drac-cyan-900: #012d36;
  --drac-green-100: #c7fdd5;
  --drac-green-50: #dbfee4;
  --drac-green-200: #9ffcb7;
  --drac-green-300: #78fb99;
  --drac-green-400: #50fa7b;
  --drac-green-500: #19f852;
  --drac-green-600: #06d43a;
  --drac-green-700: #049d2b;
  --drac-green-800: #03671c;
  --drac-green-900: #01300d;
  --drac-orange-50: #fffdfb;
  --drac-orange-100: #fff3e6;
  --drac-orange-200: #ffdfbe;
  --drac-orange-300: #ffcc95;
  --drac-orange-400: #ffb86c;
  --drac-orange-500: #ff9d34;
  --drac-orange-600: #fb8200;
  --drac-orange-700: #c36500;
  --drac-orange-800: #8b4800;
  --drac-orange-900: #522b00;
  --drac-pink-50: #ffffff;
  --drac-pink-100: #fff3fa;
  --drac-pink-200: #ffcbe9;
  --drac-pink-300: #ffa2d7;
  --drac-pink-400: #ff79c6;
  --drac-pink-500: #ff41ae;
  --drac-pink-600: #ff0996;
  --drac-pink-700: #d00077;
  --drac-pink-800: #980057;
  --drac-pink-900: #600037;
  --drac-purple-50: #f8f4fe;
  --drac-purple-100: #ece0fd;
  --drac-purple-200: #d5bafb;
  --drac-purple-300: #bd93f9;
  --drac-purple-400: #9d5ef6;
  --drac-purple-500: #7c29f3;
  --drac-purple-600: #600cd8;
  --drac-purple-700: #4809a3;
  --drac-purple-800: #31066d;
  --drac-purple-900: #190338;
  --drac-red-50: #ffe4e4;
  --drac-red-100: #ffcfcf;
  --drac-red-200: #ffa7a7;
  --drac-red-300: #ff7e7e;
  --drac-red-400: #ff5555;
  --drac-red-500: #ff1d1d;
  --drac-red-600: #e40000;
  --drac-red-700: #ac0000;
  --drac-red-800: #740000;
  --drac-red-900: #3b0000;
  --drac-yellow-50: #fdfeee;
  --drac-yellow-100: #fbfdda;
  --drac-yellow-200: #f6fcb3;
  --drac-yellow-300: #f1fa8c;
  --drac-yellow-400: #eaf856;
  --drac-yellow-500: #e4f520;
  --drac-yellow-600: #c4d409;
  --drac-yellow-700: #929f07;
  --drac-yellow-800: #616905;
  --drac-yellow-900: #2f3302;
}
html {
  color: var(--drac-foreground-200);
}
main {
  margin: auto;
  padding: 1.5rem;
  max-width: 60ch;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  background-color: var(--drac-cyan-200);
  color: var(--drac-cyan-700);
  font-weight: bold;
  border-radius: 0.3rem;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0.3em 0.45em;
}
pre code {
  background: transparent;
}
a {
  color: var(--yellow);
  text-decoration: none;
}
table {
  border: 2px solid var(--comment);
}
td,
th {
  padding: 8px;
}
tr {
  background-color: var(--background);
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: var(--current-line);
}
tr:hover {
  background-color: var(--purple);
  color: var(--background);
}
th,
thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(45deg, var(--cyan), var(--green));
  color: var(--background);
}
pre {
  padding: 12px;
  border-radius: 6px;
  border: solid 2px var(--comment);
  background-color: red;
}
strong {
  color: var(--pink);
}
em {
  color: var(--orange);
}
h1 {
  color: var(--green);
  font-size: 1.875rem;
  font-weight: bold;
}
blockquote {
  background: var(--current-line);
  color: var(--drac-foreground-50);
  border-left: 10px solid var(--comment);
  border-radius: 6px;
  margin: 1.5em 10px;
  padding: 1em 10px 0.1em 10px;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--drac-purple-500) var(--drac-currentLine-700);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    var(--drac-currentLine-700),
    var(--drac-currentLine-800)
  );
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    var(--drac-purple-400),
    var(--drac-purple-600)
  );
  border-radius: 14px;
}
