---
import "../styles/global.css"
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ frontmatter.title }</title>
	</head>
	<body class="p-5 bg-gradient-to-b from-dracBackground to-black">
		<h1><span class="bg-clip-text text-transparent bg-gradient-accent bg-400% bg-left">{ frontmatter.title }</span></h1>
		<slot />
	</body>
</html>
