---
import "../styles/resume.css";
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html class="overflow-hidden" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body
    class="flex justify-center h-screen p-6 overflow-scroll [ bg-scroll bg-contain bg-gradient-to-b from-drac-background-800 to-drac-background-900 ]"
  >
    <div class="paper">
      <header>
        <div>
          <h1>Joshua Hamlet</h1>
          <h2 class="text-drac-purple-100 font-thin p-0 border-0">Web Dev</h2>
        </div>
        <div>
          <ul>
            <li>0123 4567 890</li>
            <li>simon@yourwebsite.com</li>
            <li>www.yourwebsite.com</li>
            <li>New York</li>
          </ul>
        </div>
      </header>
      <slot />
    </div>
  </body>
</html>
